@model IEnumerable<KTX.Models.Post>

@{
    ViewData["Title"] = "Trang KTX";
}

  
<div class="row">
            @foreach (var item in Model){
            <div class="col-lg-4">
                <img src="https://ktx.vnuhcm.edu.vn/public/userfiles/slider/banner6.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140"alt="...">
                <h4 class="fw-bold"> @Html.DisplayFor(modelItem => item.Title)</h4>
                <h6 class="fw-light"> 
                    <i class="bi bi-calendar3"></i> 
                    @Html.DisplayFor(modelItem => item.DatePost)</h6>                
                <p class="text" >@Html.DisplayFor(modelItem => item.Content)</p>                
                <p><a class="btn btn-secondary" asp-action="Detail" asp-route-id="@item.Id">Đọc thêm</a></p>                
            </div><!-- /.col-lg-4 -->
            }
                
</div>

<style>
    .text {
       overflow: hidden;
       text-overflow: ellipsis;
       display: -webkit-box;
       -webkit-line-clamp: 2; /* number of lines to show */
       -webkit-box-orient: vertical;
    }

</style>